package ${packageName};

#foreach($im in ${importList})
import ${im};
#end

/**
 * ${table.desc}dao接口
 *
 * User: ${constant_creator}
 * Date: ${date}
 */
public interface ${daoGeneratedShotClassName} {

    /**
     * 新增记录
     *
     * @param ${modelFirstLowerGeneratedClassName}
     */
    public void insert(${modelGeneratedShotClassName} ${modelFirstLowerGeneratedClassName});
}