<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.center.dao.UserRoleMapper">

	<!-- 通用查询结果列-->
	<resultMap id="BaseResultMap" type="org.apache.center.model.UserRole">
 		<result column="user_id" property="userId" />
 		<result column="role_id" property="roleId" />
	</resultMap>

</mapper>