<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">

  <title>Formless</title>
</head>
<body>
  <div class="mw-100 mx-auto" style="width: 400px; margin-top: 100px">
    <%= flash_messages @conn %>

    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="m-0">Formless</h3>
        <%= link "首页", to: Routes.page_path(@conn, :index) %>
      </div>

      <%= render @view_module, @view_template, assigns %>
    </div>
  </div>

  <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
