package ${packageName};

#foreach($im in ${importList})
import ${im};
#end
import com.mincoder.kit.persistence.BaseDao;

/**
 * ${table.desc}dao接口
 *
 * User: ${constant_creator}
 * Date: ${date}
 */
public interface ${daoGeneratedShotClassName} extends BaseDao<${modelGeneratedShotClassName}> {

}