$baseColor: yellow;

body {
    background-color: $baseColor;
    font: bold;
}

.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}
.page-enter, .page-leave-active {
    opacity: 0;
}