<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>L项目版本发布记录</title>
<link rel="stylesheet" type="text/css" href="{{ static_url("css/bootstrap.css") }}">
</head>
<body>
  <script src="{{ static_url("js/bootstrap.js") }}"></script>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">L项目版本自动化发布系统</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
            </p>
            <ul class="nav">
               <li><a href="/">Index</a></li>
               <li><a href="/serverinfo/">服务信息查看</a></li>
               <li><a href="/taskinfo/">任务信息查看</a></li>
               <li><a href="/projects/">项目管理</a></li>
               <li class="active"><a href="/areas/">游戏大区管理</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <p></p>
<h3>&nbsp;</h3>
<legend>游戏大区列表</legend>
<a href="/add_area/" class="btn btn-large btn-primary btn-block">添加游戏服</a>
<form class="form-horizontal" action="/add_area/" method="post">
  <div class="control-group">
    <label class="control-label" >项目类型</label>
    <div class="controls">
      <select name="app_type">
        {% for project in projects_info %}
          <option value="{{ project.get('project_code') }}">{{ project.get('project_name') }}</option>
        {% end %}
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" >大区名称</label>
    <div class="controls">
      <input type="text" name="app_name" placeholder="魔三国1服">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" >服务器IP</label>
    <div class="controls">
      <input type="text" name="server_ip" placeholder="8.8.8.8">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" >服务器名</label>
    <div class="controls">
      <input type="text" name="server_name" placeholder="msg_1-8">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" >进程名</label>
    <div class="controls">
      <input type="text" name="process_name" placeholder="game_server1">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" >进程路径</label>
    <div class="controls">
      <input type="text" name="process_path" placeholder="/data/game1/">
    </div>
  </div>
      <button type="submit" class="btn btn-block btn-primary">提交</button>
</form>
 </body>
 </html>
 