<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>L项目版本发布记录</title>
<link rel="stylesheet" type="text/css" href="{{ static_url("css/bootstrap.css") }}">
</head>
<body>
  <script src="{{ static_url("js/bootstrap.js") }}"></script>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">L项目版本自动化发布系统</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
            </p>
            <ul class="nav">
               <li><a href="/">Index</a></li>
               <li><a href="/serverinfo/">服务信息查看</a></li>
               <li><a href="/taskinfo/">任务信息查看</a></li>
               <li><a href="/projects/">项目管理</a></li>
               <li class="active"><a href="/areas/">游戏大区管理</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <p></p>
<h3>&nbsp;</h3>
<legend>游戏大区列表</legend>
<a href="/add_area/" class="btn btn-large btn-primary btn-block">添加游戏服</a>
<table class="table table-hover condensed table-bordered">
  <tr class="info"><td>ID<td>项目类型<td>大区名称<td>服务器IP<td>机器名<td>进程名<td>进程路径<td colspan="2">项目管理</tr>
  {% for area in areas_info %}
  <tr>
    <td> {{ area.get('_id') }}
    <td> {{ area.get('app_type') }}
    <td> {{ area.get('app_name') }}
    <td> {{ area.get('server_ip') }}
    <td> {{ area.get('server_name') }}
    <td> {{ area.get('process_name') }}
    <td> {{ area.get('process_path') }}
    <td> <a href="/area_edit/{{ area.get('_id') }}">Edit</a>
    <td> <a href="/area_del/{{ area.get('_id') }}">Del</a>
  </tr>
  {% end %}
</table>
 </body>
 </html>
 