<div class="card">
  <div class="card-header">编辑数据表</div>
  <div class="card-body">
    <%= render "form.html", Map.put(assigns, :action, Routes.table_path(@conn, :update, @table)) %>
  </div>
</div>
