
body {
	background: url(../images/body-bg.png) repeat 0 0;
}
.head_content{
	width:940px;
	margin-right: auto;
	margin-left: auto;
}
.navbar-fixed-top{
	position:fixed;
}	
.content_body {
	width: 960px;
	margin: 61px auto 20px auto;
	border: hidden;		
}
.content_left {
	width:160px;
	height:570px;
	margin-right:20px;
	background-color:#fff;
	position:fixed;
}
.content_right {
	width:780px;
	height:570px;
	background-color:#fff;
}
.content_right_other {
	width:780px;
	background-color:#fff;
}
.a_content{
	height:494px;
	margin:20px;
}
.a_content_other{
	margin:20px;
}
/*-----------------  container > l-extra     ------------------*/
#l-extra {
	height:30px;
	line-height:30px;
	text-align: center;
	display:block;
	background-color:#0088CC;
	position:fixed;
	bottom:0;
	width:100%;
}
#l-extra p {
	font-size: 12px;
	color: #fff;
}

/*------------------------------------------------------------------
[5. Max Width: 480px]
*/

@media (max-width: 480px) {
	#container {
		width: 100%;
		margin: 40px auto 0;
	}
}
/*------------------------ 顶部横条背景颜色 -----------------------------------*/
.backcolor {
		background: #0088CC;
		position:fixed;
		width:100%;
}
h1{
	font-family:"STKaiti";
}
.head_logo {
	margin-top:5px;
	float:left;
}
.title {
	float:left;
	margin-left:15em;
}

/*------------------------ 欢迎 退出 -----------------------------------*/
.name,.out  {
	float:left;
	font-size:13px;
	line-height:13px;
	margin-top:20px;
}
.name a,.out a {
	color:#FFF;
}
/*-----------------  content_body > content_left > menu ------------*/
#menu ul {
	width:160px;
}
#menu ul li{
	width:160px;
	font-size:14px;
	line-height:40px;
	text-align:center;
}
#menu ul li span{
	display:block;
	color:#333333;
	background-color:#0088CC;
	position:relative	
}
#menu ul li span {
	color:#FFF;
}
#menu ul li span img{
	position:absolute;
	left:26px;
	top:15px;
}
.triangle-down {
	width:0;
	height:0;
	position:absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
	right:15px;
	top:20px;
}
/****  菜单mune active表现  ****/
#menu ul li.active{
	background:url("../images/active.png") no-repeat scroll left center transparent !important;
}
#menu ul li.active a{
	color:#0088CC;
}
/****** content_body > content_right  > breadcrumb ****/
.breadcrumb{
	background-color:#0088CC;
	color:#fff;
	font-size:12px;
}
.breadcrumb span{
	margin:0 10px;
}
.breadcrumb a{
	color:#fff;
	text-decoration:underline;
}
/****** content_body > content_right  > a_content ****/
.text_content{
	width:740px;
	height:400px;
	padding:20px 0;	
}
.myForm{
	padding-bottom:20px;
}
.myForm table{
	font-size:14px;
	line-height:24px;
}
.anwer{
	color: brown;
}
.anwer_let{
	color:#0C6;
}
.sign{						/*--  勾叉标记 --*/
	color:red;
	font-weight:bolder;
	font-size:25px;
	font-family:"微软雅黑";
}
.fill_blank input{
	width: 120px;
	background-color:#FFF;
	border-bottom: 1px solid black;
}
.text_content_other{
	width:740px;
	padding:20px 0;	
}
.record {
	font-size:14px;
	line-height:30px;
	text-align:center;
	width: 100%;
	
}
.table-lay {
	table-layout: fixed ;     /*   单元格固定比例宽度 */
}
.record thead th{
	color:#FFF;
	background-color: #0088CC;
	text-align:center;
	padding: 4px 10px;
	overflow: hidden;
}
.record tbody{
	line-height:25px;
	height:auto;
}
.he{
	line-height:50px !important;
}
.autoCut{						/*----  题目超出部分自动省略  -----*/
	width:290px;
	margin:0 auto;				/*---  td  div居中 --*/
    overflow:hidden;  
    white-space:nowrap;  
    text-overflow:ellipsis;  
    -o-text-overflow:ellipsis;  
    -icab-text-overflow: ellipsis;  
    -khtml-text-overflow: ellipsis;  
    -moz-text-overflow: ellipsis;  
    -webkit-text-overflow: ellipsis; 
}
.record tbody td{
	font-size:12px;
	border-bottom:1px solid #CCC;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {			/*-----  选项卡样式  -------*/		
	color: #fff;
	cursor: default;
	background-color: #0088CC;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}
.nav-tabs {
border-bottom: 1px solid #0088CC;
}
/***  content_body > content_right  > change_page  ***/
.change_page{
	height:48px;
}
.page_sum h4{
	font-size:16px;
	color:#3a3a3a;
	font-weight:normal;
}
.page_nav a{
	float: right;
	height: 22px;
	line-height: 22px;
	margin-left: 8px;
	color:#3a3a3a;
	font-size:16px;
	border: 1px solid #CBCBCB;
	padding:5px 8px;
}
#currentPage,#pageNumShown{
padding:0 5px;
font-size:14px;
font-weight:bold;
}
.change_page{
	margin:10px 0 0 0;
	
}




