body {
	background: url(../images/body-bg.png) repeat 0 0;
}
#register-container {
	width: 425px;
	margin: 120px auto 0;
}
.navbar-fixed-top{
	position:fixed;
}

/*------------------------------------------------------------------
[2. Header / #register-header]
*/

#register-header {
	padding: 5px 20px;
	margin-bottom: 1em;
	background: #4A7FB5;
	background:-moz-linear-gradient(top, #4A7FB5 0%, #0088CC100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4A7FB5), color-stop(100%,#0088CC)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #4A7FB5 0%,#0088CC 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #4A7FB5 0%,#0088CC 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #4A7FB5 0%,#0088CC 100%); /* IE10+ */
	background:linear-gradient(top, #4A7FB5 0%,#0088CC 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A7FB5', endColorstr='#0088CC');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A7FB5', endColorstr='#0088CC')";
	
	border-radius: 5px;
	
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

#register-header h3 {
	margin-bottom: 0;
	font-size: 20px;
	color: #FFF;
	text-decoration: 1px 1px 2px rgba(0,0,0,.4);
}

/*------------------------------------------------------------------
[3. Content / #register-content]
*/

#register-content {
	padding: 20px;
	background: #FFF;
	border: 1px solid #DDD;
	border-radius: 5px;
	box-shadow: 0 0 6px rgba(0,0,0,.10);
}

#register-content input {
	width: 96%;
	padding: 2% 2%;
}
/*------------------------------------------------------------------
[4. Extra / #register-extra]
*/

#register-extra {
	position:fixed;
	margin-top: 1.5em;
	text-align: center;
}

#register-extra p {
	font-size: 12px;
	color: #888;
}

/*------------------------------------------------------------------
[5. Max Width: 480px]
*/

@media (max-width: 480px) {
	#register-container {
		width: 100%;
		margin: 40px auto 0;
	}
}
/*------------------------ ¶¥²¿ºáÌõ±³¾°ÑÕÉ« -----------------------------------*/
.backcolor {
	background:#0088CC;
	position:fixed;
	width:100%;
}
h1{
	font-family:"STKaiti";
}
.head_logo {
	margin-top:5px;
	float:left;
}
.title {
	float:left;
	margin-left:15em;
}
.buttons {
	margin-top:50px;
	clear:both;
}

.helpe_font_small{
    font-size : 11px;
}
.muted {
  color: #999999;
}