[submodule "dangchat-server"]
	path = dangchat-server
	url = git@git.oschina.net:wex5/dangchat-server.git
[submodule "wex5-work"]
	path = wex5-work
	url = git@git.oschina.net:wex5/wex5-work.git
[submodule "wex5-org"]
	path = wex5-org
	url = git@git.oschina.net:wex5/wex5-org.git
[submodule "dangchat-desktop"]
	path = dangchat-desktop
	url = git@git.oschina.net:wex5/dangchat-desktop.git
[submodule "dangchat-client"]
	path = dangchat-client
	url = git@git.oschina.net:wex5/dangchat-client.git
[submodule "dangchat-sdk"]
	path = dangchat-sdk
	url = git@git.oschina.net:wex5/dangchat-sdk.git
