<div class="card">
  <div class="card-header"><%= @table.name %> 编辑字段</div>
  <div class="card-body">
    <%= render "form.html", Map.put(assigns, :action, Routes.table_column_path(@conn, :update, @table, @column)) %>
  </div>
</div>
