<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>123456</title>
</head>
<body>
${name}

		#foreach ($iten in $!{title})
	       <h4 class="$!{iten.name}">$!{iten.content}</h4>
	     #end
</body>
</html>