<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">系统监控</h2>
        <span class="layui-breadcrumb pull-right">
            <a><cite>系统监控</cite></a>
            <a><cite>三级菜单</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <button class="layui-btn layui-btn-lg layui-btn-normal">大型百搭</button>
        <button class="layui-btn layui-btn-warm">正常暖色</button>
        <button class="layui-btn layui-btn-sm layui-btn-danger">小型警告</button>
        <button class="layui-btn layui-btn-xs layui-btn-disabled">迷你禁用</button>
        <br><br>
        <button class="layui-btn layui-btn-fluid">流体按钮（最大化适应）</button>
        <br><br><br>
    </div>
</div>