<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>文章管理</title>
</head>
<script src="/static/public/js/jquery.js"></script>
<link href="/static/public/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/public/css/public.css" rel="stylesheet" type="text/css" />
<script src="/static/public/js/public.js"></script>
<link href="/static/public/css/system.css" rel="stylesheet" type="text/css" />
<script src="/static/public/js/Alert.js"></script>
<style>
.list-box .context{float:left;width:100%;height:74%;overflow-y:scroll;}
.pagination{float: left}
.list-box .nav_title{float:left;margin-top:20px;margin-left:20px;width:90%;}
.list-box .context{float:left;width:100%;}
</style>
<body>
	<div class="list-box">
		<div class="nav_title"><p><span style="color: #2aabd2;font-weight: bold;width: 10px;background:#2aabd2;margin-right: 10px;">|</span>文章管理</p></div>
		<div class="context table-responsive">
			<div class="handle" >
				<div class="input-group left" style="width:300px;" th:if="${session.handle.hasHandel(session.user.handle,'/article/search')}">
		            <input type="text" class="form-control"  id="sval">
		            <span class="input-group-addon btn btn-default" id="search">搜索</span>
		        </div>
				<button class="btn btn-success left" onclick="javascript:window.location.href='/common/article/addPage';" th:if="${session.handle.hasHandel(session.user.handle,'/article/add')}">增加</button>
				<button class="btn btn-primary left" id="update" th:if="${session.handle.hasHandel(session.user.handle,'/article/update')}">修改</button>
				<button class="btn btn-danger left" id="delete" th:if="${session.handle.hasHandel(session.user.handle,'/article/delete')}">删除</button>
			</div>
			<table class="table">
				<thead>
					<tr>
					   <th>
						  <div class="checkbox">
						        <input type="checkbox" id="all">
						            <label for="all"></label>
						  </div>
					   </th>
				       <th class="id"></th>
				       <th class="title">标题</th>
				       <th class="subhead">副标题</th>
				       <th class="type">类型</th>
				       <th class="content">内容</th>
				       <th class="stick">推荐</th>
				       <th class="columntype">栏目</th>
				       <th class="home">首页显示</th>
				       <th class="createtime">创建时间</th>
				       <th class="createuserid">创建人</th>
				       <th class="updatetime">更新时间</th>
				       <th class="updateuserid">更新人</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div class="paging">
			<ul class="pagination">
			</ul>
		</div>
	</div>
	<script src="/static/common/article/article.js"></script>
	<script>
		article.loadPage(0,20);
		article.updatePage();
		article.delete();
		$(".pages").bind("click",function(){
			$(".pages").each(function(){
				$(this).removeClass("active");
			})
			$(this).addClass("active");
			var index=$(this).text()-1;
			menu.loadPage(index,20);
		})
	</script>
</body>
</html>