<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>条件与循环</title>
    <script type="text/javascript" src="../lib/vue-2.6.10.js"></script>
</head>
<body>
<div id="app-3">
    <h4>条件判断(v:if)：</h4>
    <p v-if="seen">当变量seen=true时，我将显示出来</p>
    <button v-on:click="btnClick">切换文字显示装填</button>
    <h4>循环v:for：</h4>
    <div>
        <p v-for="todo in todoItems">{{todo.id+'---'+todo.text}}</p>
    </div>
</div>
</body>
<script type="text/javascript">
    var app3 = new Vue({
        el: '#app-3',
        data: {
            todoItems:[
                {id:101,text:"做语文作业"},
                {id:102,text:"做数学"},
                {id:103,text:"做编程作业"}
            ],
            seen: true
        },
        methods: {
            btnClick: function () {
                this.seen = !this.seen;
            }
        }
    })
</script>
</html>